<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="fragments/head :: headerFragment">
    <title>Home/Twitter</title>
    
</head>
<body>
    <div class="container">
    <div th:replace="fragments/navbar"></div>
    <ul class="nav nav-tabs">
    <!-- <li role="presentation" th:classappend="${filter == 'all' ? 'active' : '' }">
        <a href="/tweets">All</a></li> -->
   <!--  <li role="presentation" th:classappend="${filter == 'following' ? 'active' : '' }">
        <a href="/tweets?filter=following">Following</a></li> -->
</ul><br/>
        <h2>Tweets</h2>
        <div class="list-group">
        	
        		<div th:each="tweet:${tweetList}" class="list-group-item">
            		<a class="username" th:href="@{/users/} + ${tweet.user.username}">
            		<h5>@<span th:text="${tweet.user.username}"></span></a>
            		<small th:text="${tweet.date}"></small>
            		</h5>
            		<p th:utext="${tweet.message}"></p>
    			</div>
    		
    	</div>
    	<div th:if="${#lists.isEmpty(tweetList) and filter == 'all'}">
    		<h3>No tweets have been created yet</h3>
		</div>
		<!-- <div th:if="${#lists.isEmpty(tweetList) and filter == 'following'}">
    		<h3>No tweets have been created by your followers</h3>
		</div> -->
    </div>
  <div th:replace="fragments/head :: bodyFragment"></div>
    
</body>
</html>